/roles/supervise
/roles/supervisord
/.vagrant
vagrant_ansible_inventory*
/ansible/roles/minecraft/files/minecraft_server*.jar
/ansible/roles/logstash/files/logstash*.jar
/ansible/roles/redis/files/redis-*.tar.gz
base-box/riemann_*.deb
