# description "start and stop the minecraft-server"

console log

exec start-stop-daemon --start --chdir {{ minecraft_chdir }} --chuid {{ minecraft_user }} \
    --exec /usr/bin/java -- -Xms{{ minecraft_Xms }} -Xmx{{ minecraft_Xmx }} \
    -jar {{ minecraft_bin_dir}}/minecraft-server.jar nogui 2>&1

start on runlevel [2345]
stop on runlevel [^2345]

respawn
respawn limit 20 5
