# minecraft server
#

description     "minecraft server"

start on virtual-filesystems
stop on runlevel [06]

respawn
respawn limit 5 30

env HOME={{ minecraft_chdir }}

chdir {{ minecraft_chdir }}
setuid {{ minecraft_user }}
setgid {{ minecraft_group }}
console log

# for versions 1.1.1 - 1.1.4 the internal web service crashes when touched
# and the current workaround is to just not run it and run Kibana instead

script
        exec java {{ minecraft_java_opts }} {{ minecraft_logging_opts }} \
          -jar {{ minecraft_bin_dir}}/minecraft-server.jar nogui
end script
