input {
  file {
    path => [ "{{ graphite_storage_location }}/log/webapp/*.log" ]
    tags => ["graphite_web"]
  }
  file {
    path => [ "/var/log/upstart/carbon-cache.log" ]
    tags => ["carbon_cache"]
  }
  file {
    path => [ "/var/log/syslog" ]
    tags => ["syslog"]
  }
  file {
    path => [ "/var/log/upstart/{{ logstash_upstart_name }}.log" ]
    tags => ["logstash"]
  }
}

filter {
  if "graphite_web" in [tags] {
    grok {
      match => [ "message", ".* :: (?<message>.*)$" ]
      overwrite => [ "message" ]
    }
  }

  if "carbon_cache" in [tags] {
    grok {
      type => "carbon_cache"
      match => [ "message", ".* :: \[(?<event>[a-z]*)\] (?<message>.*)\r$" ]
      overwrite => [ "message" ]
    }
  }
}

output {
  redis {
    host => "{{ logstash_redis_host }}"
    port => "{{ logstash_redis_port }}"
    data_type => "channel"
    key => "logstash"
  }
}
