input {
  file {
    path => [ "{{ graphite_storage_location }}/log/webapp/*.log" ]
    type => "graphite_web"
  }
  file {
    path => [ "/var/log/upstart/carbon-cache.log" ]
    type => "carbon_cache"
  }
  file {
    path => [ "/var/log/syslog" ]
    type => "syslog"
  }
}

filter {
  grok {
    type => "graphite_web"
    match => [ "message", ".* :: (?<message>.*)$" ]
    overwrite => [ "message" ]
  }
  grok {
    type => "carbon_cache"
    match => [ "message", ".* :: \[(?<event>[a-z]*)\] (?<message>.*)\r$" ]
    overwrite => [ "message" ]
  }
}

output {
  stdout {
    codec => "rubydebug"
    debug => true
  }
  redis {
    host => "{{ logstash_redis_host }}"
    port => "{{ logstash_redis_port }}"
    data_type => "channel"
    key => "logstash"
  }
}
