input {
  redis {
    host => "{{ logstash_redis_host }}"
    port => "{{ logstash_redis_port }}"
    data_type => "channel"
    key => "logstash"
  }
  file {
    path => [ "/var/log/syslog" ]
    tags => ["syslog"]
  }
  file {
    path => [ "/var/log/upstart/{{ logstash_upstart_name }}.log" ]
    tags => ["logstash"]
  }
}

filter {
  if "syslog" in [tags] {
    grok {
      match => [ "message", "^%{SYSLOGBASE}(?<syslog>.*)" ]
    }
  }
}

output {
  elasticsearch { embedded => true }
}
