input {
  file {
    path => [ "{{ minecraft_chdir }}/logs/latest.log" ]
    type => "minecraft"
  }
  file {
    path => [ "/var/log/syslog" ]
    type => "syslog"
  }
  file {
    path => [ "/var/log/upstart/{{ logstash_upstart_name }}.log" ]
    type => "logstash"
  }
}

filter {
  grok {
    type => "minecraft"
    match => [ "message", "(?<jvm_uptime>[^|])\|(?<level>[^|]+)\|(?<thread>[^|]*)\|(?<logger>[^|]*)\|(?<class>[^|]*)\|(?<timestamp>[^|]*)\|(?<message>.*)" ]
    overwrite => [ "message" ]
    break_on_match => false
  }

  grok {
    type => "minecraft"
    match => [ "message",  "^(?<player>[a-zA-Z0-9_]+) joined the game$" ]
    add_tag => [ "player_join" ]
  }

  grok {
    type => "minecraft"
    match => [ "message", "^(?<player>[a-zA-Z0-9_]+) left the game$" ]
    add_tag => [ "player_part" ]
  }

  grok {
    type => "minecraft"
    overwrite => [ "message" ]
    match => [ "message", "^<(?<player>[a-zA-Z0-9_]+)> (?<message>.*)$" ]
    add_tag => [ "chat" ]
  }
}

output {
  redis {
    host => "{{ logstash_redis_host }}"
    port => "{{ logstash_redis_port }}"
    data_type => "channel"
    key => "logstash"
  }
}
