input {
  file {
    path => [ "{{ minecraft_chdir }}/logs/latest.log" ]
    tags => ["minecraft"]
  }
  file {
    path => [ "/var/log/syslog" ]
    tags => ["syslog"]
  }
  file {
    path => [ "/var/log/upstart/{{ logstash_upstart_name }}.log" ]
    tags => ["logstash"]
  }
}

filter {
  if "minecraft" in [tags] {
    grok {
      match => [ "message", "(?<jvm_uptime>[^|])\|(?<level>[^|]+)\|(?<thread>[^|]*)\|(?<logger>[^|]*)\|(?<class>[^|]*)\|(?<timestamp>[^|]*)\|(?<message>.*)" ]
      overwrite => [ "message" ]
      break_on_match => false
    }

    grok {
      match => [ "message",  "^(?<player>[a-zA-Z0-9_]+) joined the game$" ]
      add_tag => [ "player", "join" ]
    }

    grok {
      match => [ "message",  "^(?<player>[a-zA-Z0-9_]+) has just earned the achievement \[(?<achievement>[^\[]+)\]$" ]
      add_tag => [ "player", "achievement" ]
    }

    grok {
      match => [ "message", "^(?<player>[a-zA-Z0-9_]+) left the game$" ]
      add_tag => [ "player", "part" ]
    }

    grok {
      match => [ "message", "^<(?<player>[a-zA-Z0-9_]+)> .*$" ]
      add_tag => [ "player", "chat" ]
    }
  }
}

output {
  redis {
    host => "{{ logstash_redis_host }}"
    port => "{{ logstash_redis_port }}"
    data_type => "channel"
    key => "logstash"
  }
}
