input {
  file {
    path => [ "{{ minecraft_chdir }}/logs/latest.log" ]
  }
  file {
    path => [ "/var/log/syslog" ]
    type => "syslog"
  }
  file {
    path => [ "/var/log/upstart/{{ logstash_upstart_name }}.log" ]
    type => "logstash"
  }
}

filter {
  grok {
    match => [ "message", "(?<jvm_uptime>[^|])\|(?<level>[^|]+)\|(?<thread>[^|]*)\|(?<logger>[^|]*)\|(?<class>[^|]*)\|(?<timestamp>[^|]*)\|(?<message>.*)" ]
    overwrite => [ "message" ]
  }
}

output {
  redis {
    host => "{{ logstash_redis_host }}"
    port => "{{ logstash_redis_port }}"
    data_type => "channel"
    key => "logstash"
  }
}
