input {
  file {
    path => [ "/var/log/upstart/{{ redis_upstart_name }}.log" ]
  }
  file {
    path => [ "/var/log/syslog" ]
    type => "syslog"
  }
  file {
    path => [ "/var/log/upstart/{{ logstash_upstart_name }}.log" ]
    type => "logstash"
  }
}

filter {
  grok {
    match => [ "message", "^\[(?<pid>[0-9]*)\] (?<timestamp>[0-9]* [a-zA-Z]* [0-9:.]*) (?<message>.*)$" ]
    overwrite => [ "message" ]
  }
}

output {
  redis {
    host => "{{ logstash_redis_host }}"
    port => "{{ logstash_redis_port }}"
    data_type => "channel"
    key => "logstash"
  }
}
