input {
  file {
    path => [ "/var/log/upstart/{{ redis_upstart_name }}.log" ]
    tags => ["redis"]
  }
  file {
    path => [ "/var/log/syslog" ]
    tags => ["syslog"]
  }
  file {
    path => [ "/var/log/upstart/{{ logstash_upstart_name }}.log" ]
    tags => ["logstash"]
  }
}

filter {
  if "redis" in [tags] {
    grok {
      match => [ "message", "^\[(?<pid>[0-9]*)\] (?<timestamp>[0-9]* [a-zA-Z]* [0-9:.]*) (?<message>.*)$" ]
      overwrite => [ "message" ]
    }
  }
}

output {
  redis {
    host => "{{ logstash_redis_host }}"
    port => "{{ logstash_redis_port }}"
    data_type => "channel"
    key => "logstash"
  }
}
