description     "logstash: {{ logstash_upstart_name }}"

start on virtual-filesystems
stop on runlevel [06]

respawn
respawn limit 5 30
limit nofile 65550 65550

# set HOME to point to where you want the embedded elasticsearch
# data directory to be created and ensure /opt/logstash is owned
# by logstash:adm

env HOME={{ logstash_home }}

#env JAVA_OPTS='-Xms512m -Xmx512m'

chdir {{ logstash_run_dir }}
setuid {{ logstash_run_as }}
setgid {{ logstash_run_as_group }}
emits {{ logstash_upstart_name }}-running
console log

# for versions 1.1.1 - 1.1.4 the internal web service crashes when touched
# and the current workaround is to just not run it and run Kibana instead

script
  exec java {{ logstash_java_opts }} \
        -jar {{ logstash_lib_dir}}/logstash-flat.jar {{ logstash_opts }}

  initctl --no-wait emit {{ logstash_upstart_name }}-running
end script
